@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Opensans/OpenSans-Bold.woff')format('woff'),
  url('../fonts/Opensans/OpenSans-Bold.woff2')format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Opensans/OpenSans-SemiBold.woff')format('woff'),
    url('../fonts/Opensans/OpenSans-SemiBold.woff2')format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Opensans/OpenSans-Regular.woff')format('woff'),
  url('../fonts/Opensans/OpenSans-Regular.woff2')format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Opensans/OpenSans-Light.woff')format('woff'),
  url('../fonts/Opensans/OpenSans-Light.woff2')format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Ruda';
  src: url('../fonts/Ruda/Ruda-Black.woff')format('woff'),
  url('../fonts/Ruda/Ruda-Black.woff2')format('woff2');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Ruda';
  src: url('../fonts/Ruda/Ruda-Bold.woff')format('woff'),
  url('../fonts/Ruda/Ruda-Bold.woff2')format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Ruda';
  src: url('../fonts/Ruda/Ruda-SemiBold.woff')format('woff'),
  url('../fonts/Ruda/Ruda-SemiBold.woff2')format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Ruda';
  src: url('../fonts/Ruda/Ruda-Regular.woff')format('woff'),
  url('../fonts/Ruda/Ruda-Regular.woff2')format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

