body {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  background-color: white;
}

.body-active {
  overflow: hidden;
  position: relative;
}

.body-active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 5;
}

.logo {
  max-width: 200px;
  width: 100%;
}

.title--left {
  text-align: left;
}

.pagination {
  display: flex;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    padding-top: 13px;
    width: 48px;
    height: 48px;
    border: 1px solid transparent;
    background-color: $silver-100;
    font-size: 18px;
    line-height: 18px;
    border-radius: 3px;
    transition: border-color 0.2s;

    &:not(:first-child) {
      margin-left: 6px;
    }

    &:hover {
      border-color: $silver-600;
    }
  }

  &__page {
    width: 48px;
    height: 48px;
    transition: background-color 0.2s;
  }

  &__arrows {
    border-radius: 3px;
    padding: 14px 19px 11px;
    border: 1px solid transparent;
    background-color: $silver-100;
    margin-left: 6px;
    transition: border-color 0.2s;

    .next {
      margin-right: 15px;
    }

    &:not(:last-child) {
      margin-right: 6px;
    }

    &:hover {
      border-color: $silver-600;
    }
  }

  .active {
    border-color: $dark-800;
  }
}

.category__item:not(:last-child) {
  margin-right: 24px;
}

.category__btn {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: $dark-500;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  transition: border-color 0.2s;

  &:hover {
    border-color: $green-200;
  }
}

.title {
  font-family: 'Ruda';
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}

.title--margin {
  margin-bottom: 32px;
}

.showmore {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding: 12px 24px;
  color: $green-900;
  border: 1px solid $green-900;
  border-radius: 6px;
  transition: background-color 0.2s, box-shadow 0.1s;
  margin-bottom: 72px;

  &:focus {
    outline-color: $green-200;
  }
}

.mixitup-control-active {
  border-bottom: 3px solid rgba(224, 237, 207, 1);
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.section {
  padding: 72px 0;
  text-align: center;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.line {
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.breadcrumps {
  padding: 22px 0;
  background-color: $silver-100;

  &__list {
    display: flex;

  }

  &__link {
    text-transform: none;
    color: $dark-500;
  }

  &__item {
    padding-right: 25px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 10px;
      top: 6px;
      left: 65px;
      background-repeat: no-repeat;
      background-image: url('../images/catalog/chevron.svg');

    }

    &:last-child {
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }
}