body {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  background-color: white;
}

.body-active {
  position: relative;
}

.body-active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 5;
}

.logo {
  max-width: 200px;
  width: 100%;
}

.title--left {
  text-align: left;
}


.title {
  font-family: 'Ruda';
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}

.title--margin {
  margin-bottom: 32px;
}

.showmore {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding: 12px 24px;
  color: $green-900;
  border: 1px solid $green-900;
  border-radius: 6px;
  transition: background-color 0.2s, box-shadow 0.1s;
  margin-bottom: 72px;

  &:focus {
    outline-color: $green-200;
  }
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.section {
  padding: 72px 0;
  text-align: center;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.line {
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  &:focus {
    outline-color: $green-200;
  }
}