body {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  background-color: white;
}

.body-active {
  position: relative;
}

.body-active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 5;
}

.logo {
  max-width: 200px;
  width: 100%;
}

.title {
  font-family: 'Ruda';
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}

.title--margin {
  margin-bottom: 32px;
}

.section {
  padding: 72px 0;
  text-align: center;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.line {
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}