@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'reset';


@import 'media';



.header__menu {
  background-color: $dark-800;
  color: $white;
  font-weight: 700;
  padding: 15px 0
}

.menu__list {
  @extend %flex;

}

.menu__link {
  padding-left: 40px;
  position: relative;
  background-repeat: no-repeat;
  height: 40px;
}

.menu__link:not(:last-child) {
  margin-right: 48px;
}

.link--deliver,
.link--tel {
  width: 40px;
  height: 50px;
  position: relative;

}

.link--deliver::before {
  content: '';
  width: 60px;
  height: 60px;
  left: 0;
  top: -3px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../images/deliver.svg');
}

.link--tel::before {
  content: '';
  width: 60px;
  height: 60px;
  left: 10px;
  top: -3px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../images/telephone.svg');
}

.menu__link--info:not(:last-child) {
  margin-right: 24px;
}

.header {
  background-color: $green-900;
}

.header__inner {
  padding: 30px 0;
  display: flex;
  align-items: center;
}

.header__logo {
  max-width: 200px;
  width: 100%;
  display: flex;
  text-align: center;
  margin-right: 26px;
}

.logo {
  display: flex;
}

.logo__text {
  font-family: 'Ruda';
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: $white;
  margin-left: 15px;
}

.logo__span {
  display: block;
  font-size: 12px;
  line-height: 15px;
}

.catalog {
  position: relative;
  max-width: 240px;
  width: 100%;
  margin-right: 30px;
}

.catalog__btn {
  position: relative;
  width: 100%;
  padding: 15px 0;
  color: $green-900;
  font-weight: 600;
  background-color: $white;
  border-radius: 6px;
  margin-right: 30px;
}

.catalog__btn::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  right: 30px;
  top: 23px;
  background-image: url('../images/arrow-down.svg');
  transition: top .1s;
}

.catalog__btn--active::after {
  position: absolute;
  transform: rotate(180deg);
  right: 32px;
  top: 16px;
}

.catalog__btn--active {
  position: relative;
  background-color: $green-200;
}

.catalog__btn span {
  position: absolute;
  background-color: $green-900;
  left: 17px;
  bottom: 50%;
  width: 20px;
  height: 1px;
}

.catalog__btn span::before,
.catalog__btn span::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: $green-900;
}

.catalog__btn span::before {
  top: 8px;
  left: 0;
}

.catalog__btn span::after {
  top: -8px;
  left: 0;
}

.catalog__list {
  display: none;

}

.catalog__list--active {
  display: block;
  position: absolute;
  z-index: 5;
  background-color: $white;
  top: 45px;
  left: 0;
  right: 0;
  border-radius: 0px 0px 6px 6px;
}

.catalog__item {
  position: relative;
}

.catalog__link {}

.catalog__item::after {
  content: '';
  top: 0;
  left: 0;
  background-color: rgba(193, 193, 193, 0.3);
  position: absolute;
  width: 100%;
  height: 1px;
}

.catalog__link {
  display: block;
  padding: 15px 24px;
  transition: color .1s;
}

.catalog__link:focus {
  color: $green-900;
}

.catalog__link:focus::after {
  content: '';
  color: $green-900;
  background-color: $green-900;
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
}

.catalog__link:hover {
  color: $green-900;
}

.catalog__link:hover::before {
  content: '';
  color: $green-900;
  background-color: $green-900;
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
}

.header__search {
  display: flex;
  max-width: 575px;
  width: 100%;
  position: relative;
  margin-right: 54px;
}

.header__search::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 14px;
  left: 14px;
  background-repeat: no-repeat;
  background-image: url('../images/icon-search.svg');
}

.search__input {
  max-width: 430px;
  width: 100%;
  padding: 15px 50px;
  border-radius: 6px 0 0 6px;
  outline: none;
  border: none;
}

.search__input::placeholder {
  font-family: 'Open Sans';
  color: $dark-900;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.input__btn {
  border-radius: 0 6px 6px 0px;
  width: 157px;
  padding: 15px 0;
  background-color: $dark-800;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $white;
}

.header__navigation {
  display: flex;
}

.header__link {
  margin-right: 27px;
}

.header__basket {
  display: none;
  
}

.header__basket--active {
  display: block;
  z-index: 5;
  max-width: 475px;
  width: 100%;
  top: 0;
  right: 0;
  position: absolute;
}

.basket__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px 12px 24px;
  background-color: $white;
  border-bottom: 1px solid rgba(193, 193, 193, 0.3);
}

.basket__text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 12px;
}

.clear__btn {
  font-weight: 300;
  line-height: 17px;
}

.basket__close-btn {
  position: relative;
  width: 25px;
  height: 25px;
}

.basket__close-btn::before,
.basket__close-btn::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: $dark-800;
}

.basket__close-btn::after {
  transform: rotate(45deg);
}

.basket__close-btn::before {
  transform: rotate(-45deg);
}

.basket__goods {
  
  height: calc(100vh - 224px);
  padding: 12px 0 0 0;
  background-color: $silver-100;
}

.basket__bottom {
  display: flex;
  justify-content: space-between;
  padding: 24px 24px;
  background-color: $white;
}

.basket__order {
  max-width: 475px;
  width: 100%;
  background-color: $green-900;
  color: $white;
  padding: 22px 161px;
}

.goods__name {
  font-weight: 600;
  max-width: 170px;
  margin-left: 32px;
}

.goods__cost {
  margin-top: 5px;
  font-size: 20px;
  color: $dark-500;
  display: block;
}

.plus__btn,
.minus__btn {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: $green-900;
}

.plus__btn::before,
.plus__btn::after {
  content: '';
  position: absolute;
  background-color: $white;
  width: 16px;
  height: 2px;
  top: 50%;
  left: 18%;
  right: 0%;
  border-radius: 1px;

}

.goods__info {
  display: flex;
}

.goods__price {
  color: $dark-500;
  font-size: 20px;
  font-weight: 600;
  margin-left: 12px;
}

.plus__btn::after {
  transform: rotate(90deg);
}

.minus__btn::before {
  content: '';
  position: absolute;
  background-color: $white;
  width: 16px;
  height: 2px;
  top: 48%;
  left: 18%;
  right: 0%;
  border-radius: 1px;
}

.goods__item {
  padding: 12px 12px;
  display: block;
  max-width: 452px;
  background-color: $white;
  margin: 0 auto;
  border: 1px solid $silver-600;
  border-radius: 3px;
  margin-bottom: 12px;
}

.goods__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods__buy {
  max-width: 155px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.goods__buy-price {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}

.goods__delete-btn {
  width: 12px;
  height: 12px;
  top: 0;
  right: 0;
  position: absolute;
}

.goods__delete-btn::before,
.goods__delete-btn::after {
  content: '';
  position: absolute;
  background-color: $silver-600;
  width: 12px;
  height: 1px;
  top: 0px;
  right: 0;
  right: 0%;
  border-radius: 1px;

}

.goods__delete-btn::after {
  transform: rotate(-45deg);
}

.goods__delete-btn::before {
  transform: rotate(45deg);
}

.goods__number {
  text-align: center;
  max-width: 36px;
  width: 100%;
  padding: 2.5px 0;
  background-color: $green-200;
}

.slick__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: 60px;
  z-index: 5;
}

.slick-next {
  right: 60px;
}

.slider__item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  max-width: 1290px;
  width: 100%;
  padding: 24px 24px;
  border-radius: 6px;
}

.preview__title {
  display: block;
  margin: 0 auto;
  font-weight: 900;
  font-size: 60px;
  line-height: 78px;
  color: $dark-500;
  margin-bottom: 12px;
}

.preview__title span {
  display: block;
}

.preview__subtitle {
  display: block;
  color: $red-900;
}

.preview__text {
  color: $dark-500;
  line-height: 22px;
  margin-bottom: 32px;

}

.preview__link {
  padding: 12px 24px;
  letter-spacing: 0.03em;
  color: $white;
  background-color: $green-900;
  border-radius: 6px;
}

.bottom {
  background-color: $silver-100;
}

.bottom__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0px 100px;
}

.bottom__item {
  background-repeat: no-repeat;
  background-position: 10px 40px;
  padding: 54px 0 54px 74px;
}

.bottom__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: $dark-900;

}

.bottom__text {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  color: $dark-500;
}

.bottom__text span {
  display: block;
}

.services__images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0px 30px;
  margin-bottom: 50px;
}

.services__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.services__item:not(:last-child) {
  margin-right: 24px;
}

.services__category {
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: $dark-500;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  transition: border-color .2s;
}

.services__category:hover {
  border-color: $green-200;
}

.services__image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 7px;
}

.services__image img {
  margin-bottom: 9px;
}

.image--hidden {
  display: none;
}

.services__image-title {
  text-align: left;
  margin-left: 18px;
  text-transform: none;
  margin-bottom: 50px;
  max-width: 264px;
}

.services__sale {
  font-size: 10px;
  line-height: 18px;
  font-weight: 700;
  width: fit-content;
  padding: 0 6px;
  letter-spacing: 0.03em;
  color: $white;
  margin: 10px 12px;
  border-radius: 6px;
}

.sale--new {
  background-color: $green-900;
  top: 10px;
  left: 10px;
}

.sale--discount {
  background-color: $red-900;
  top: 37px;
  left: 10px;
}

.sale--hit {
  background-color: $orange-900;
}

.services__link-inner {
  display: flex;
  justify-content: space-between;
}

.services__favorites {
  min-height: 68px;
  margin-right: 12px;
}

.price__purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin-left: 20px;
}

.price__sale {
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: $silver-600;
  position: relative;
  width: fit-content;
}

.price__sale::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0px;
  width: 45px;
  height: 1px;
  transform: rotate(-14deg);
  background-color: $silver-600;
}

.price__btn {
  margin-right: 18px;
}


.services__btn {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding: 12px 24px;
  color: $green-900;
  border: 1px solid $green-900;
  border-radius: 6px;
  transition: background-color .2s;
  margin-bottom: 72px;
}

.services__btn:hover {
  background-color: $green-200;
}